################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

*.user
*.filters
*.vcxproj
*.sln
/QUADTREE/Debug
/QUADTREE/.vs/QUADTREE/v15/ipch/AutoPCH/be3a2d819ce73320
*.suo
/QUADTREE/.vs/QUADTREE/v15
*.pdb
*.obj
*.ilk
*.tlog
*.db
*.exe
*.json
*.ipch
*.sqlite
*.log
*.idb
*.ipdb
*.iobj
*.opendb
